@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime jsRuntime
    <!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Dashboard</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sering Diakses:</h6>
            <a class="collapse-item" href="/">Main Dashboard</a>
            <a class="collapse-item" href="/table-demo">Table Demo</a>
        </div>
    </div>
</li>


@code {
    bool collapseNavMenu = true;
    bool HasLogin = true;
    string NavMenuCssClass => (collapseNavMenu ? "collapse" : "");
    string UserName { set; get; }
    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           

        }

        //await jsRuntime.InvokeAsync<object>("setMenuStyle");
    }
}
